<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-pstcore"
        version="0.7.0">

  <name>pstcore</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/pstcore.js" target="js/pstcore.js"/>

  <js-module src="www/pstcore.js" name="pstcore">
    <clobbers target="pstcore" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CDVPstCore">
        <param name="android-package" value="com.picam360.CDVPstCore"/>
      </feature>
    </config-file>

    <source-file src="src/android/PstCore.java" target-dir="src/com/picam360/"/>
    <source-file src="src/android/CDVPstCore.java" target-dir="src/com/picam360/"/>
    <source-file src="src/android/DGLFWView.java" target-dir="src/com/picam360/"/>
    
    <resource-file src="src/android/pstcore/lib/picam360/armeabi-v7a/libpstcore.so" target="jniLibs/armeabi-v7a/libpstcore.so"/>
    <resource-file src="src/android/pstcore/lib/picam360/arm64-v8a/libpstcore.so" target="jniLibs/arm64-v8a/libpstcore.so"/>
  </platform>

  <platform name="ios">
    
    <config-file target="config.xml" parent="/widget">
      <feature name="CDVPstCore">
        <param name="ios-package" value="CDVPstCore" />
      </feature>
    </config-file>

    <header-file src="src/ios/CDVPstCore.h" target-dir="CDVPstCore"/>
    <source-file src="src/ios/CDVPstCore.m" target-dir="CDVPstCore"/>
    <header-file src="src/ios/Queue.h" target-dir="CDVPstCore"/>
    <source-file src="src/ios/Queue.m" target-dir="CDVPstCore"/>
    
    <framework src="src/ios/pstcore.framework" custom="true"/>
    <framework src="libstdc++.dylib"/>
    <framework src="libz.dylib"/>
    <framework src="VideoToolBox.framework"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Hello.cs"/>
  </platform>

</plugin>