CONFIG_LWIP_TCP_SND_BUF_DEFAULT=65534
CONFIG_LWIP_TCP_WND_DEFAULT=65534
CONFIG_FREERTOS_HZ=1000
CONFIG_BT_ENABLED=y

CONFIG_ESPTOOLPY_FLASHSIZE_8MB=y
CONFIG_ESPTOOLPY_FLASHSIZE="8MB"

;CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
;CONFIG_PARTITION_TABLE_FILENAME="partitions_singleapp_large.csv"

;CONFIG_PARTITION_TABLE_CUSTOM=y
;CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="default_8MB.csv"