<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="pstcore-electron"
        version="0.7.0">

  <name>pstcore</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>
  
  <asset src="www/pstcore-electron.js" target="js/pstcore-electron.js"/>

</plugin>